 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background-size: 100%;
     background-color: white;
 }

 header {
     background-color: rgb(24, 24, 24);
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
 }

 .header-title {
     font-size: 24px;
     font-weight: bold;
     float: left;
     padding: 15px 10px;
 }


 header .header-logo{
    width: 60px;
    float: left;
 }

 nav a {

     margin-left: 20px;
     padding: 10px;
     font-size: 14px;
     color: white;
     text-decoration: none;
     border: 2px solid white;
     border-radius: 5px;
 }

 .container {
     width: 100%;

 }

 .contactus-form {
     width: 400px;
     padding: 20px;
     margin: 50px auto;
     background: skyblue;
     border-radius: 20px;
 }

 .contactus-form button {
     margin: 10px 100px;
     padding: 10px;

 }

 h2 {
     text-align: center;
     font-weight: bold;
 }

 h3 {
     text-align: center;
     font-weight: bold;
     padding: 10px;
     background-color: rgb(193, 190, 90);
 }

 .service {
     display: flex;
     justify-content: center;
     gap: 60px;
     text-align: center;
     width: 100%;
     padding: 20px;
     background-color: #c06767;
     color: white;
     font-size: 20px;

 }
 

 footer {
     background-color: rgb(123, 94, 142);
     color: white;
     text-align: center;
     padding: 20px ;
     margin-top: 20px;
 }